/** Desktop */
@media (min-width:1024px){
    .item-shiper{
        display: inline-block;
        width: 24.7%;
        margin-left: auto;
        margin-right: auto;
    }
}



/** Mobile */
@media (max-width: 740px){
    html{
        font-size: 12px;
    }
    .item-shiper{
        display: inline-block;
        width: 49.4%;
        margin-left: auto;
        margin-right: auto;
    }
    form.form>*{
        width: 50%;
    }
    form.form>.btnadd{
        width: 100%;
    }

   
}
form .form-control:focus{
    border-color: rgb(245, 0, 0);
    box-shadow: none !important;
}