/* *Reset CSS */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/* * Khai bao toan cuc */
:root {
    --color-bg-header: rgb(241, 241, 241);
    --line-height-mobile: 25px;
    --size-header-pc: 76px;
    --size-header-mobile: 60px;
    --color-a-newspaper: rgba(31, 31, 255, 0.6)
}
/* *Animation */
@keyframes header-animation {
    from {
        top: 150%;
    }
    to {
        top: 100%;
    }
}
@keyframes newspaper-animation {
    from{
        margin-top: -20px;
    }
    to {
        margin-top: 10px;
    }
}

.test{
    scroll-behavior: smooth;
}
/* ! End Reset CSS */
.an {
    display: hidden;
}


