/** Desktop */
@media (min-width:1024px){
    .item-shiper .card{
        display: inline-block;
        width: 19.7%;
        margin-left: auto;
        margin-right: auto;
    }
    .avatarShiper{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    section#body{
        margin-top: 56px;
    }
    body {
        font-size: 16px;
    }
    /* *CSS */
    .preview {
        justify-items: center;
        align-items:center;
        background: rgb(167,254,255);
    background: linear-gradient(52deg, rgba(167,254,255,1) 0%, rgba(138,255,164,1) 98%);
        width: 230px;
        height: 230px;
        margin: 0px auto;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
    .preview i {
        display: block;
        font-size: 40px;
    }
    label.input-name{
        position: absolute;
        left: 20px;
        padding: 0px 3px;
        transform: translateY(32%);
        background-color: white;
        transition: all 0.5s;
        user-select: none;
        color: rgb(156, 156, 156);
        pointer-events: none;
        background-color:transparent;
    }
    form.form-add input:focus + label.input-name ,form.form-add input:not(:placeholder-shown) + label.input-name{
        transform: translateY(-55%);
        transition: all .5s;
        color: black;
        left: 25px;
        z-index: 9;
        line-height:5px;
        background-color:white;
    }
}



/** Mobile */
@media (max-width: 740px){
    body{
        font-size: 11px !important;
    }
    section#body{
        margin-top: 56.5px;
    }
    .off{
        display: none;
    }
    .preview {
        justify-items: center;
        align-items:center;
        background: rgb(167,254,255);
        background: linear-gradient(52deg, rgba(167,254,255,1) 0%, rgba(138,255,164,1) 98%);
        width: 180px;
        height: 180px;
        margin: 0px auto;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
    .preview i {
        display: block;
        font-size: 40px;
    }
    div.row > div.col-md-4,div.row > div.col-md-5 {
        width: 50%;
    }
    div.row > div.col-md-6{
        width: 70%;
    }
    div.row > div.col-md-2{
        width: 30%;
    }
    div.row > div.col-md-2.stt{
        width: 38%;
    }
    label.input-name{
        position: absolute;
        left: 15px;
        padding: 0px 3px;
        transform: translateY(60%);
        transition: all 0.5s;
        user-select: none;
        color: rgb(156, 156, 156);
        pointer-events: none;
        background-color:transparent;
    }
    form.form-add input:focus + label.input-name ,form.form-add input:not(:placeholder-shown) + label.input-name{
        transform: translateY(-55%);
        transition: all .5s;
        color: black;
        left: 20px;
        z-index: 9;
        line-height:5px;
        background-color:white;
    }
    .btn-sm{
        font-size:9px;
        width: 50px;
    }
    #body h2.text-center{
        font-size: 15px !important;
    }
    #body > div > a{
        font-size: 12px;
    }
}
.form-control:focus{
    border-color: rgb(0, 26, 255);
    box-shadow: none !important;
}
