/* *Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *Reset CSS */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

/* * Khai bao toan cuc */
:root {
    --color-bg-header: rgb(241, 241, 241);
    --line-height-mobile: 25px;
    --size-header-pc: 76px;
    --size-header-mobile: 60px;
    --color-a-newspaper: rgba(31, 31, 255, 0.6);

}

/* *Animation */
@keyframes header-animation {
    from {
        top: 150%;
    }

    to {
        top: 100%;
    }
}

@keyframes newspaper-animation {
    from {
        margin-top: -20px;
    }

    to {
        margin-top: 10px;
    }
}

.form-select:focus {
    box-shadow: none;
    border-color: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.test {
    scroll-behavior: smooth;
}

/* ! End Reset CSS */
.an {
    display: hidden;
}

.menu .dropdown-toggle::after {
    display: none;

}


.decoration{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
.preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
div.input-group{
    position: relative;
}

@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}

@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(120%);
	}
}
#thong_bao {
	position: fixed;
	right: 10px;
    top: 60px;
}
.thong_bao{
	margin-bottom: 10px;
    padding:8px 12px;
    animation: show_slide 1s ease forwards;
}
.thong_bao.success {
	background-color: rgba(89, 236, 89, 0.658);
	border-left: 4px solid green;
}

.thong_bao.error {
	background-color: rgba(255, 95, 95, 0.555);
	border-left: 4px solid red;
}
@keyframes countdown {
	20% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
.countdown {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	z-index: 1;
    
	animation: countdown 1.5s linear forwards;
}
.thong_bao.success .countdown {
	border-top:2px solid green;
    border-bottom:2px solid green;
}
.thong_bao.error .countdown {
	border-top:2px solid red;
    border-bottom:2px solid red;
}



